<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.matzip.matzipback.matzipList.query.mapper.ListQueryMapper">

    <select  id="getListBox" resultType="com.matzip.matzipback.matzipList.query.dto.ListSearchAllDTO">
        SELECT
            list_title,
            list_level
          FROM
            lists
         WHERE
             list_user_seq = #{listUserSeq}

        ORDER BY
            list_level ASC
    </select>

    <select  id="getUserListBox" resultType="com.matzip.matzipback.matzipList.query.dto.ListSearchUserDTO">
        SELECT
               list_title,
               list_level
          FROM
               lists
         WHERE
               list_user_seq = #{listUserSeq}
               AND list_status = 'active'
        ORDER BY
               list_level ASC
    </select>

    <select id="getListContests" resultType="com.matzip.matzipback.matzipList.query.dto.ListContentDTO">
        SELECT
               l.list_title,
               l.list_content,
               l.list_created_time,
               l.list_updated_time,
               r.restaurant_title,
               m.list_matzip_comment,
               r.restaurant_address,
               r.restaurant_phone,
               r.restaurant_star,
               COUNT(k.like_seq) AS like_count
          FROM
               lists l
          LEFT JOIN list_matzip m ON l.list_seq = m.list_seq
          LEFT JOIN restaurant r ON m.restaurant_seq = r.restaurant_seq
          LEFT JOIN `like` k ON l.list_seq = k.list_seq
         WHERE
               l.list_seq = #{listSeq}
         GROUP BY
               l.list_seq, r.restaurant_seq, m.list_matzip_seq
         ORDER BY
               l.list_title ASC;
    </select>

</mapper>
