<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matzip.matzipback.restaurant.query.mapper.RestaurantMapper">
    <!-- 음식점 조회 -->
    <select id="selectRestaurants" resultType="com.matzip.matzipback.restaurant.query.dto.RestaurantDto">
        SELECT
            restaurant_seq,
            restaurant_title,
            restaurant_address,
            restaurant_phone,
            restaurant_star
        FROM
            restaurant
        WHERE TRUE
        <if test="restaurantTitle != null">
            AND restaurant_title LIKE CONCAT('%', #{restaurantTitle}, '%')
        </if>
        <if test="restaurantAddress != null">
            AND restaurant_address LIKE CONCAT('%', #{restaurantAddress}, '%')
        </if>
        <if test="restaurantPhone != null">
            AND restaurant_phone LIKE CONCAT('%', #{restaurantPhone}, '%')
        </if>
        ORDER BY restaurant_star DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <!-- 음식점 총 갯수 조회 -->
    <select id="countRestaurant" resultType="long">
        SELECT
            COUNT(*)
        FROM
            restaurant
        WHERE TRUE
        <if test="restaurantTitle != null">
            AND restaurant_title LIKE CONCAT('%', #{restaurantTitle}, '%')
        </if>
        <if test="restaurantAddress != null">
            AND restaurant_address LIKE CONCAT('%', #{restaurantAddress}, '%')
        </if>
        <if test="restaurantPhone != null">
            AND restaurant_phone LIKE CONCAT('%', #{restaurantPhone}, '%')
        </if>
    </select>

    <select id="selectRestaurantBySeq" resultType="com.matzip.matzipback.restaurant.query.dto.RestaurantDto">
        SELECT
            restaurant_seq,
            restaurant_title,
            restaurant_address,
            restaurant_phone,
            restaurant_star
        FROM
            restaurant
        WHERE
            restaurant_seq = #{restaurantSeq}
    </select>
</mapper>
