<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.matzip.matzipuser.matzipList.query.mapper.ListQueryMapper">

    <select  id="getListBox" resultType="com.matzip.matzipuser.matzipList.query.dto.ListSearchAllDTO">
        SELECT
            list_title,
            list_level
          FROM
            lists
         WHERE
             list_user_seq = #{listUserSeq}

        ORDER BY
            list_level ASC
    </select>

    <select  id="getUserListBox" resultType="com.matzip.matzipuser.matzipList.query.dto.ListSearchUserDTO">
        SELECT
               list_title,
               list_level
          FROM
               lists
         WHERE
               list_user_seq = #{listUserSeq}
               AND list_status = 'active'
        ORDER BY
               list_level ASC

    </select>
    <!-- 리스트 상세 조회를 위한 resultMap    -->
    <resultMap id="ListContentMap" type="com.matzip.matzipuser.matzipList.query.dto.ListContentDTO">
        <result property="listTitle" column="list_title"/>
        <result property="listContent" column="list_content"/>
        <result property="listCreatedTime" column="list_created_time"/>
        <result property="listUpdatedTime" column="list_updated_time"/>

        <!-- 음식점 정보를 리스트 안에 배열로 매핑 -->
        <collection property="restaurants" ofType="com.matzip.matzipuser.matzipList.query.dto.MatzipDTO">
            <result property="restaurantTitle" column="restaurant_title"/>
            <result property="listMatzipComment" column="list_matzip_comment"/>
            <result property="restaurantAddress" column="restaurant_address"/>
            <result property="restaurantPhone" column="restaurant_phone"/>
            <result property="restaurantStar" column="restaurant_star"/>
            <result property="likeCount" column="like_count"/>
        </collection>
    </resultMap>

    <select id="getListContests" resultMap="ListContentMap">
        SELECT
               l.list_title,
               l.list_content,
               l.list_created_time,
               l.list_updated_time,
               COUNT(k.like_seq) AS like_count,
               r.restaurant_title,
               m.list_matzip_comment,
               r.restaurant_address,
               r.restaurant_phone,
               r.restaurant_star
          FROM
               lists l
          LEFT JOIN list_matzip m ON l.list_seq = m.list_seq
          LEFT JOIN restaurant r ON m.restaurant_seq = r.restaurant_seq
          LEFT JOIN `like` k ON m.list_seq = k.list_seq
         WHERE
               l.list_seq = #{listSeq}
         GROUP BY
               l.list_seq, r.restaurant_seq, m.list_matzip_seq
         ORDER BY
               l.list_title ASC;
    </select>

</mapper>
