<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.matzip.matzipback.users.query.mapper.ActiveLevelMapper">

    <select id="findAllActiveLevel" resultType="com.matzip.matzipback.users.query.dto.ActiveLevelDTO">
        SELECT active_level_seq
             , active_level_name
             , active_level_standard
          FROM active_level
         ORDER BY active_level_standard
        LIMIT #{offset}, #{size}
    </select>


    <select id="countAllActiveLevel" resultType="long">
        SELECT COUNT(*)
          FROM active_level
    </select>

</mapper>